{% extends 'base.html.twig' %}

{% block title %}BTC Statistic{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mb-3">{{ block('title') }}</h2>

        <div id="chart"></div>
    </div>
{% endblock %}
